/*mi primer variable*/
$font-family: Arial, Helvetica, sans-serif;
$color-de-fondo: red;

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid gray;
   
    img {
        width: 10rem;
        margin: 10px 10px;
    }

    nav {
        ul {
           
            list-style: none;
            display: flex;
            justify-content: space-around;
        }

        li {
            a {
                text-decoration: none;
                color: white;
                margin: 15px;
                transition: 0.5s;
                font-family: $font-family;
                &:hover{
                    color: yellow;
            
                }
            }

            .enlace-empresas {
                color: yellow;
            }
        }
    }

    .boton-plataforma {
        display: flex;
        align-items: center;
        img {
            width: 1.5rem;
        }

        #enlace-plataforma {
            color: white;
            text-decoration: none;
            margin: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

}