$color-fondo: white;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A1A1A;
    @if $color-fondo == white{
        background-color: #1A1A1A;
    }@else{
        background-color: blue;
    }
}

